body {
    font-family: Arial, Helvetica, sans-serif;
}

#commands span {
    background-color: rgba(51, 153, 81, 0.36);
    cursor: pointer;
}

.flights {
    border: 1px solid #bababa;
    padding: 12px 12px 10px 12px;
    margin: 20px 20px 20px 12px;
    font-size: 20px;
    color: #161616;
}

.flights > div {
    margin-bottom: 5px;
}

.flights .row:before,
.flights .row:after {
    display: table;
    content: " ";
}

.flights .row:after {
    clear: both;
}

.flights .pull-left {
    float: left;
}

.flights .pull-right {
    float: right;
}

.flights .name,
.flights .time {
    color: #1655c9;
}

.flights .abbr,
.flights .times {
    font-size: 32px;
}

.flights .times .date {
    font-size: 20px;
}

.flights .name-status {
    font-size: 24px;
}

.flights .abbr {
    width: 80px;
}

.flights .abbr.pull-right {
    text-align: right;
}

.flights .position {
    position: relative;
}

.flights .position .path {
    display: block;
    position: absolute;
    height: 2px;
    background-color: rgba(22, 85, 201, 0.67);
    top: 17px;
    left: 100px;
    right: 100px;
}

.flights .position .path-pending {
    background-color: #d1d1d1;
    right: 100px;
    top: 17px;
    left: 50%;
    z-index: 1;
}

.flights .plane {
    background: url('plane-medium.png') no-repeat center 0 #fff;
    display: inline-block;
    width: 40px;
    height: 35px;
    padding: 7px;
    position: absolute;
    top: -7px;
    left: 50%;
    margin-left: -20px;
    z-index: 2;
    background-size: 31px;
}


/* FLIGHT TRACKER NEW DESIGN CSS */

.flights {
    border: 1px solid #d6d6d6;
    padding: 12px 12px 10px 12px;
    margin-right: 20px;
    font-size: 15px;
    color: #161616;
    font-family: arimoregular;
    max-width: 528px;
    box-sizing: border-box;
}

.flights .row:before,
.flights .row:after {
    display: table;
    content: " ";
}

.flights .row:after {
    clear: both;
}

.flights .pull-left {
    float: left;
}

.flights .pull-right {
    float: right;
}

.flights .name,
.flights .time {
    color: #1655c9;
}

.flights .status {
    color: #009a16;
    margin-bottom: 17px;
}

.flights .abbr,
.flights .times {
    font-size: 24px;
}

.flights .times .date {
    font-size: 15px;
}

.flights .name-status {
    font-size: 18px;
    margin-bottom: 0;
}

.flights .name-status .name {
    /*  width:100%;*/
}

.flights .status.push-left {
    float: left !important;
}

.flights .abbr {
    width: 66px;
}

.flights .abbr.pull-right {
    text-align: right;
}

.flights .position {
    position: relative;
    margin-bottom: 0;
}

.flights .position .position {
    left: 56px;
    right: 56px;
    position: absolute;
}

.flights .position .path {
    display: block;
    position: absolute;
    height: 2px;
    background-color: rgba(22, 85, 201, 0.67);
    top: 15px;
    left: 0px;
    right: 0px;
}

.flights .position .path-pending {
    background-color: #d1d1d1;
    right: 0px;
    top: 15px;
    left: 50%;
    z-index: 1;
}

.flights .plane {
    display: inline-block;
    width: 31px;
    height: 27px;
    padding: 0 7px 0 7px;
    position: relative;
    top: 2px;
    left: 50%;
    margin-left: -1px;
    z-index: 2;
}

.is-edge-browser .flights .plane,
.is-ie-browser .flights .plane {
    display: block;
    top: 0;
}

.flights .row.cities {
    margin-bottom: 0px;
}

.flights .times {
    margin-bottom: 0px;
    line-height: 26px;
}

.flights .comma {
    font-size: 15px;
}

@media screen and (max-width:768px) {
    .flights {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }
}

.flights .na {
    color: #939393;
}


/*.flights .time .date {
    margin-right: 8px;
    margin-left: 8px;
}*/

.flights .row.gates {
    margin-bottom: 0;
}

.black-theme .flights .name,
.black-theme .flights .time,
.night-theme .flights .name,
.night-theme .flights .time {
    color: #6589c2;
}

.black-theme .flights .status,
.night-theme .flights .status {
    color: #4a8c54;
}

.black-theme .flights,
.night-theme .flights {
    color: #fff
}

.black-theme .flights .plane,
.night-theme .flights .plane {
    background: url('plane-medium.png') no-repeat center -50px #1a1a1a;
    background-size: 31px;
}

.black-theme .flights .position .path-completed,
.night-theme .flights .position .path-completed {
    background-color: #6589c2;
}

@media screen and (max-width: 480px) {
    .flights .row.position {
        top: -45px;
    }
}

@media screen and (max-width: 480px) {
    .flights {
        height: 350px;
    }
    .flights .name-status .status {
        /*float: left;*/
    }
    .flights .position {
        /*margin-top: -23px;*/
    }
    .flights .source-time.time {
        margin-top: -32px;
    }
    .flights .position .abbr {
        /*margin-top: -45px;*/
    }
    /*.flights .position .source-abbr, .flights .position .destination-abbr{
        margin-top: 0;
    }*/
    .flights .row.cities {
        position: relative;
        top: 40px;
        text-align: center;
    }
    .flights .row.times {
        position: relative;
        top: 25px;
        text-align: center
    }
    .flights .row.gates {
        position: relative;
        top: -25px;
        text-align: center;
    }
    .flights .row.cities .city,
    .flights .row.times .time,
    .flights .row.gates .gate {
        display: block;
        width: 100%;
    }
    .flights .row.cities .destination-city {
        position: relative;
        top: 116px;
    }
    .flights .row.times .destination-time {
        position: relative;
        top: 75px;
    }
    .flights .row.gates .destination-gate {
        position: relative;
        top: 110px;
    }
    .flights .row.times:after {
        content: '';
        width: 50px;
        height: 2px;
        background: #cccccc;
        margin: 0 auto;
        position: relative;
        top: -14px;
    }
    .flights .comma {
        display: none;
    }
}

@media screen and (min-width: 481px) {
    .flights {
        height: auto !important;
    }
}


/*--------------------Black and night theme style--------------------*/

.night-theme #instant_answer_box .instant_inner,
.black-theme #instant_answer_box .instant_inner,
.night-theme .flights,
.black-theme .flights {
    border: none;
    background: #1a1a1a;
}

.black-theme .flights .name,
.black-theme .flights .time,
.night-theme .flights .name,
.night-theme .flights .time {
    color: #ffffff;
}

.black-theme .flights .position .path-completed,
.night-theme .flights .position .path-completed {
    background-color: #ababab;
}

.black-theme .flights .position .path-pending,
.night-theme .flights .position .path-pending {
    background-color: #6589c2;
}

.black-theme .flights .status,
.night-theme .flights .status {
    color: #009a16;
}

.black-theme .flights .row.cities,
.night-theme .flights .row.cities,
.black-theme .flights .position,
.night-theme .flights .position,
.black-theme .flights .row.gates,
.night-theme .flights .row.gates,
.black-theme .flights .na,
.night-theme .flights .na {
    color: #6589c2;
}

.flights td.abbr {
    width: 0.00%;
}

.flights .position {
    width: 100%;
    max-width: 502px;
}

.flights table.position:before,
.flights table.position:after {
    display: none;
}

.flights .position td.position {
    position: relative;
    left: 3px;
    right: auto;
    padding-right: 49px;
}

.flights td.destination-abbr {
    float: none;
}

.flights td.position .path-completed {
    margin-right: 8px;
    margin-left: 5px;
}

.flights td.position .path-pending {
    margin-right: 8px;
    margin-left: 5px;
}

.flights td.pull-right.destination-abbr.abbr {
    position: relative;
    left: 3px;
}

.flights td.pull-left.source-abbr.abbr {
    margin-left: -3px;
}
