<p>
    First install Handlebar npm package<pre> '{{ handlebarInstall }}' </pre>
</p>
<p>
    Write different template in different files with '.handlebars' as a file extension. (like template/flight.handlebars, template/demo.handlebars)
</p>
<p>
    <pre>'{{ handlebarCompile }}' </pre> This command will compile all the templates files in templates folder and write the compiled template output to templatesCompiled.js
</p>
<p>
    <p>Include templatesCompiled.js in HTML script and you can access your compiled template by the name of template. For ex: flight.handlebar template can be accessed like <pre>'{{ HandlebarTemplate }}'</pre>
    </p>
</p>
<p>
    First install Handlebar npm package
<p>
    Write different template in different files with '.handlebars' as a file extension. (like template/flight.handlebars, template/demo.handlebars)
</p>
<p>
     This command will compile all the templates files in templates folder and write the compiled template output to templatesCompiled.js
</p>
<p>
    <p>Include templatesCompiled.js in HTML script and you can access your compiled template by the name of template. For ex: flight.handlebar template can be accessed like.
    </p>
</p>
