<li>
    First install Handlebar npm package<pre> '{{ handlebarInstall }}' </pre>
</li>
<li>
    Write different template in different files with '.handlebars' as a file extension. (like template/flight.handlebars, template/demo.handlebars)
</li>
<li>
    <pre>'{{ handlebarCompile }}' </pre>This command will compile all the templates files in templates folder and write the compiled template output to templatesCompiled.js
</li>
<li>
    <p>Include templatesCompiled.js in HTML script and you can access your compiled template by the name of template. For ex: flight.handlebar template can be accessed like <pre>'{{ HandlebarTemplate }}'</pre>
    </p>
</li>
